.box {
  position: relative;
  width:100%;
  margin: 0 auto;
}
.img-responsive {
  width: 100%;
}
.title{
	display:block;
	width:50%;
	font-size:0.4rem;
	text-align:center;
	margin:0 auto;
}
.rowFile{
	background:#ff00ff;
	width:80%;
	margin:0 auto;
}
.sText{
	display: inline-block;
	width:10%;
	margin:0 auto;
	text-align: center;
}
.iText{
	width:86%;
}