body{
	width:10.8rem;
	
	background:#ddd;
	margin:0 auto 0 auto;
}

.header{
	width:10rem;
	height:1rem;
	text-align:center;
	font-size:0.6rem;
	line-height:1rem;
	background:#ddd;
	margin:0 auto;
}
.div_line{
    height: 0.5rem;
    font-size:0.4rem;
  
}
.row .sText{
	display:inline-block;
	width:60px;
	height:20px;
	border-radius:5px;
}
.row .iText{
	display:inline-block;
	width:350px;
	height:20px;
	border-radius:5px;
}

.row .submit{
	display: inline-block;
    width: 207px;
    height: 25px;
    background:#fff;
    margin-top: 10px;
    border-radius:5px;
}

.websource{
	width:530px;
	height:30px;
	background:#ddd;
	margin:10px auto 0 auto;
	border-radius:8px;
}

.websource .websourceTitle{
	text-decoration: none;
	line-height:30px;
	padding-left: 200px;

}

.indexFormFile{
	width:530px;
	height:230px;
	background:#ddd;
	margin:10px auto 0 auto;
	border-radius:8px;
}

.indexFormFile .title{
	text-align:center;
	padding-top:10px;
}

.rowFile{
	width: 500px;
    height: 25px;
    padding-left: 30px;
    margin-bottom: 5px;
}
.rowFile .sText{
	display:inline-block;
	width:60px;
	height:20px;
	border-radius:5px;
}

.rowFile .sTextFile{
	display:inline-block;
	width:80px;
	height:20px;
	border-radius:5px;
}
.rowFile .iText{
	display:inline-block;
	width:350px;
	height:20px;
	border-radius:5px;
}

.rowFile .submit{
	display: inline-block;
    width: 207px;
    height: 25px;
    background:#fff;
    margin-top: 10px;
    border-radius:5px;
}